{% extends "base.html" %}

{% block conteudo %}
<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">{{titulo}}</h1>
        <p class="lead">{{informacao}}
        </p>
        <p>Use <a href="/docs/5.1/examples/sticky-footer-navbar/">the sticky footer with a fixed navbar</a> if need be,
            too.</p>
            <button class="btn btn-danger" onclick="clickBtn()">Enviar</button>
    </div>
</main>
{% endblock %}

{% block javascript%}
<script src="/assets/js/welcome.js"></script>
{% endblock %}